<%= link_to t(".back_to_catalog"), root_path, class: "book-show__back" %>

<article class="book-show">
  <aside class="book-show__cover">
    <% if @book.cover.attached? && @book.cover.variable? %>
      <%= image_tag @book.cover, class: "book-show__cover-img", alt: @book.title %>
    <% else %>
      <div class="book-show__cover-placeholder" aria-hidden="true">
        <span>📖</span>
      </div>
    <% end %>
  </aside>

  <div class="book-show__body">
    <div class="book-show__heading">
      <h1 class="t-headline"><%= @book.title %></h1>
      <ul class="book-show__pills" aria-label="<%= t(".pills_label") %>">
        <li class="book-show__pill"><%= @book.format.upcase %></li>
        <% if @book.language.present? %>
          <li class="book-show__pill"><%= @book.language %></li>
        <% end %>
      </ul>
    </div>

    <% if @book.author.present? %>
      <p class="book-show__by-author"><%= t(".by_author", author: @book.author) %></p>
    <% end %>

    <div class="book-show__interactions">
      <%= render "books/rating", book: @book, member_book: @member_book %>
      <%= render "books/read_toggle", book: @book, member_book: @member_book %>
    </div>

    <%= link_to t(".download"), download_book_path(@book),
          class: "btn btn-primary book-show__download",
          id: "book-download-link" %>

    <section class="book-show__description">
      <h2 class="t-eyebrow"><%= t(".description_title") %></h2>
      <% if @book.description.present? %>
        <%= simple_format(@book.description) %>
      <% else %>
        <p class="t-lede"><%= t(".no_description") %></p>
      <% end %>
    </section>
  </div>
</article>
